## ANZ Assignment

We will start with importing the libraries needed for solving the problem.

In [ ]:
import pandas as pd
import warnings
#Display the entire column while showing the output
pd.set_option('display.max_columns',None)
#Display the entire row while showing the output
pd.set_option('display.max_rows',None)
#Suppress all the warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Reading Data

In [ ]:
# use of read_excel is used to read the excel file using pandas
customer = pd.read_excel("2019-20-australian-government-contract-data.xlsx")

### Introspecting and cleaning data

In [ ]:
#Top 5 oberservation is displayed to get an idea about how the data looks like
customer.head()

,Agency Name,Parent Contract ID,Contract ID,Publish Date,Start Date,End Date,Value,Amendment Date,Amendment Start Date,Amendments Value,Description,Agency Ref ID,UNSPSC Code,UNSPSC Title,Procurement Method,ATM ID,SON ID,Panel Arrangement,Confidentiality Contract Flag,Confidentiality Contract Reason,Confidentiality Outputs Flag,Confidentiality Outputs Reason,Consultancy Flag,Consultancy Reason,Amendment Reason,Supplier Name,Supplier Address,Supplier Suburb,Supplier Postcode,Supplier State,Supplier Country,Supplier ABN Exempt,Supplier ABN,Contact Name,Contact Phone,Branch,Division,Office Postcode,Applicable Publish Date,Applicable FY Year,Applicable Value,Duration Years,Applicable Start Date
0,Department of Defence,NaN,CN3620990,2019-08-20,2019-05-01,2019-05-31,16163.40,NaT,NaT,NaN,Fitness Equipment,4501071435,49200000,Fitness equipment,Limited tender,NaN,NaN,NaN,No,NaN,No,NaN,No,NaN,NaN,BLP TRAINING & SERVICES PTY LTD,NaN,BEENLEIGH,4207,QLD,AUSTRALIA,No,4.007962e+10,Army Forces Command,0,Army Forces Command,ARMY HEADQUARTERS,2021,2019-08-20,2020,16163.40,0.222222,2019-05-01
1,Australian Bureau of Statistics,CN3602517,CN3602517-A1,2019-06-21,2018-07-01,2023-06-30,1964000.00,2020-05-25,2020-05-25,648000.00,Software Maintenance,ABS2018.450,81112200,Software maintenance and support,Open tender,NaN,SON3520963,Yes,No,NaN,No,NaN,No,NaN,Variation,IBM Australia Limited,NaN,Pennant Hills,1715,NSW,AUSTRALIA,No,7.900002e+10,"Director, procurement",NaN,NaN,NaN,2617,2020-05-25,2020,648000.00,3.097222,2020-05-25
2,Services Australia,NaN,CN3671573,2020-04-07,2020-03-19,2020-03-27,155997.60,NaT,NaT,NaN,Training Services,D296030217,86000000,Education and Training Services,Open tender,NaN,SON3393682,Yes,No,NaN,No,NaN,No,NaN,NaN,Benestar Group Pty Ltd,PO Box Q1436,QVB Post Office Sydney,1230,NSW,Australia,No,6.100354e+10,PURCHASING HELPDESK,1800 906 144,DHS Branch,DHS Division,2900,2020-04-07,2020,155997.60,0.027778,2020-03-19
3,Department of Health,NaN,CN3648860,2019-12-19,2020-01-02,2020-06-30,169542.12,NaT,NaT,NaN,Labour Hire,4500135727,80111700,Personnel recruitment,Open tender,RFT20000551,SON3403954,Yes,No,NaN,No,NaN,No,NaN,NaN,PEOPLEBANK AUSTRALIA LTD,NaN,NORTH SYDNEY,2060,NSW,Australia,No,4.200400e+10,BMU,02 6289 4977,NaN,Cancer Hearing and Program Support DIV,2606,2019-12-19,2020,169542.12,0.530556,2020-01-02
4,Administrative Appeals Tribunal,CN3591066,CN3591066-A1,2019-05-13,2019-02-27,2019-07-31,13263.55,2019-07-25,2019-06-01,13263.55,Labour hire contractor,4500000293,80111600,Temporary personnel services,Limited tender,NaN,NaN,NaN,No,NaN,No,NaN,No,NaN,Extension date,LAUNCH RECRUITMENT PTY LTD,LEVEL 10 1 CASTLEREAGH STREET,SYDNEY,2000,NSW,AUSTRALIA,No,5.411914e+10,PROCUREMENT OFFICER,(03)9454 6100,Administrative Appeals Tribunal Administrative...,AAT Administrative Appeals Tribunal,4000,2019-07-25,2020,13263.55,0.016667,2019-06-01

In [ ]:
#Introspecting the dimensions of data we have
customer.shape

(81174, 43)

In [ ]:
#Introspecting the missing value in the dataset
customer.isna().sum()

Agency Name                            0
Parent Contract ID                 65254
Contract ID                            0
Publish Date                           0
Start Date                             0
End Date                               0
Value                                  0
Amendment Date                     65254
Amendment Start Date               65184
Amendments Value                   65246
Description                            2
Agency Ref ID                       1458
UNSPSC Code                            0
UNSPSC Title                           0
Procurement Method                     0
ATM ID                             54697
SON ID                             48619
Panel Arrangement                  48697
Confidentiality Contract Flag       1124
Confidentiality Contract Reason    79008
Confidentiality Outputs Flag        1124
Confidentiality Outputs Reason     79393
Consultancy Flag                    1124
Consultancy Reason                 77696
Amendment Reason                   65254
Supplier Name                          0
Supplier Address                   50094
Supplier Suburb                       47
Supplier Postcode                    318
Supplier State                         0
Supplier Country                       0
Supplier ABN Exempt                    0
Supplier ABN                        3664
Contact Name                           0
Contact Phone                      27915
Branch                             24239
Division                           13171
Office Postcode                        0
Applicable Publish Date                0
Applicable FY Year                     0
Applicable Value                       0
Duration Years                         0
Applicable Start Date                  0
dtype: int64

Looking at the above results, there are lot of missing values in the colummns. However we will not deal with all the missing values as they are not required for the task in hand. We will remove the columns with most missing value like more than 50%.

Below is a list of variables which have most missing value

In [ ]:
list_of_variables = ["Parent Contract ID",
                    "Amendment Date",
                    "Amendment Start Date",
                    "Amendments Value",
                    "ATM ID",
                    "SON ID",
                    "Panel Arrangement",
                    "Confidentiality Contract Reason",
                    "Confidentiality Outputs Reason",
                    "Consultancy Reason",
                    "Amendment Reason",
                    "Supplier Address",
                    "Contact Phone"]

customer.drop(columns = list_of_variables, inplace = True)

In [ ]:
customer.isna().sum()

Agency Name                          0
Contract ID                          0
Publish Date                         0
Start Date                           0
End Date                             0
Value                                0
Description                          2
Agency Ref ID                     1458
UNSPSC Code                          0
UNSPSC Title                         0
Procurement Method                   0
Confidentiality Contract Flag     1124
Confidentiality Outputs Flag      1124
Consultancy Flag                  1124
Supplier Name                        0
Supplier Suburb                     47
Supplier Postcode                  318
Supplier State                       0
Supplier Country                     0
Supplier ABN Exempt                  0
Supplier ABN                      3664
Contact Name                         0
Branch                           24239
Division                         13171
Office Postcode                      0
Applicable Publish Date              0
Applicable FY Year                   0
Applicable Value                     0
Duration Years                       0
Applicable Start Date                0
dtype: int64

There are more variables which needs to be handled before proceeding with any task. However for the required task, we will skip the task, but in general, techniques like treating missing values with median or use of predictive model to treat the missing values.

## Task 1

Task 1 is all about choosing the customers which the banks needs to target for the business. For this task, the dataset has only "Value" attribute which can provide meaningful insights.

The approach here is to group by the data based on government agency or supplier and look for the top 10 contractors based on aggregated value of tender value.

### For Government Agency

We will select only the Agency Name and Value attribute for selecting top 10 attributes

In [ ]:
task_data = customer.loc[:,["Agency Name","Value"]]

In [ ]:
task_data.head()

                       Agency Name       Value
0            Department of Defence    16163.40
1  Australian Bureau of Statistics  1964000.00
2               Services Australia   155997.60
3             Department of Health   169542.12
4  Administrative Appeals Tribunal    13263.55

In [ ]:
task_agg = task_data.groupby(["Agency Name"]).sum()

In [ ]:
output_task1 = task_agg.sort_values("Value", ascending=False).head(10)

In [ ]:
output_task1["Value"] = [f"{a:.0f}" for a in output_task1["Value"]]

print("Top 10 Government Agencies based on the aggregated tender value:")
print(output_task1)

Top 10 Government Agencies based on the aggregated tender value:
                                                           Value
Agency Name
Department of Defence                               338634651143
Department of Home Affairs                           14590709932
Australian Taxation Office                            9708490686
Services Australia                                    4112482135
Department of Education, Skills and Employment        3992985962
Department of Finance                                 2700381992
Department of Health                                  2661872177
Digital Transformation Agency                         2056767296
Department of Agriculture, Water and the Enviro...    2049859785
Department of Foreign Affairs and Trade - Austr...    1657238729

According to the data, the bank needs to service the above government agencies which has the aggregated tender value.

### Supplier

We will select only the Suppliers Name and Value attribute for selecting top 10 attributes

In [ ]:
task_data  = customer.loc[:,["Supplier Name","Supplier Country","Value"]]

In [ ]:
task_data.head()

                     Supplier Name Supplier Country       Value
0  BLP TRAINING & SERVICES PTY LTD        AUSTRALIA    16163.40
1            IBM Australia Limited        AUSTRALIA  1964000.00
2           Benestar Group Pty Ltd        Australia   155997.60
3         PEOPLEBANK AUSTRALIA LTD        Australia   169542.12
4       LAUNCH RECRUITMENT PTY LTD        AUSTRALIA    13263.55

In [ ]:
task_data["Supplier Country"] = task_data["Supplier Country"].str.upper()

In [ ]:
task_data.head()

                     Supplier Name Supplier Country       Value
0  BLP TRAINING & SERVICES PTY LTD        AUSTRALIA    16163.40
1            IBM Australia Limited        AUSTRALIA  1964000.00
2           Benestar Group Pty Ltd        AUSTRALIA   155997.60
3         PEOPLEBANK AUSTRALIA LTD        AUSTRALIA   169542.12
4       LAUNCH RECRUITMENT PTY LTD        AUSTRALIA    13263.55

In [ ]:
task_data = task_data[task_data["Supplier Country"] == "AUSTRALIA"]

In [ ]:
task_agg = task_data.groupby(["Supplier Name"]).sum()

In [ ]:
output_task1 = task_agg.sort_values("Value", ascending=False).head(10)

In [ ]:
output_task1["Value"] = [f"{a:.0f}" for a in output_task1["Value"]]

print("Top 10 Supplier (based in Australia) based on the aggregated tender value:")
print(output_task1)

Top 10 Supplier (based in Australia) based on the aggregated tender value:
                                                          Value
Supplier Name
BOEING DEFENCE AUSTRALIA LTD                        60265165360
BROADSPECTRUM (AUSTRALIA) PTY LTD - GEMS PROJECT    35895570730
SPOTLESS FACILITY SERVICES PTY LTD GEMS PROJECT     27172169035
NORTHROP GRUMMAN INTEGRATED DEFENCE SERVICES PT...  21714504382
RHEINMETALL MAN MILITARY VEHICLES AUSTRALIA PTY...   9669507113
THALES AUSTRALIA                                     9630905062
ASC PTY LTD                                          8134339427
LOCKHEED MARTIN AUSTRALIA PTY LIMITED                7635585221
NAVAL SHIP MANAGEMENT (AUSTRALIA) PTY LTD            7024985902
COMPASS GROUP DEFENCE HOSPITALITY SERVICES PTY ...   3972519978

The above two tables shows the top 20 customers the bank needs to target for the business.